@using Microsoft.AspNetCore.Identity
@inject SignInManager<InternetBanking.Models.ApplicationUser> SignInManager
@inject UserManager<InternetBanking.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @{
            var user = await UserManager.GetUserAsync(User);
            var displayName = user != null ? $"{user.FirstName} {user.LastName}" : User.Identity?.Name;
        }
        <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" title="Manage">Hello @displayName!</a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
